:root {
    --primary-color: rgba(57, 21, 124, 0.483);
    --background: #8bdeff;
}

body {
    font-family: "Josefin Sans", sans-serif;
    background-color: var(--background);
   
}

header {
    background-color: var(--primary-color);
    padding: .5em;
    text-align: center;
    color: azure;
    font-size: 1.5em;
    box-shadow: 0 0 30px #8bdeff;
}

main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

main img {
    position: absolute;
    grid-column: 1/-1;  
    width: 100%;
    height: 77%;
    
}

.data {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    align-self: center;
    color: azure;
    background-color: var(--primary-color);
    max-width: 300px;
    padding: 1em;
    left: 10%;
}

.weather {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    align-self: center;
    color: azure;
    background-color: var(--primary-color);
    max-width: 300px;
    padding: 1em;
    left: 70%;
}

footer {
    margin-top: auto;
    position: relative;
    background-color: var(--primary-color);
    color: azure;
    text-align: center;;
    box-shadow: 0 0 30px #8bdeff;
}

@media (min-width: 600px) {
    header {
        background-color: var(--primary-color);
    }

    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        flex: 12;
    }

    body {
        display: flex;
        flex-direction: column; 
        min-height: 100vh;
        margin: 0;
    }

    footer {
        position: relative;
        margin-top: auto;
        background-color: var(--primary-color);
    }

    .icon {
        display: none;
    }

}

@media (max-width: 599px) {
    main img {
        position: relative;
    }
    .data {
        text-align: center;
        max-width: 150px;   
        padding: 0em 3em ;
        left: 25%;
        
    }

    .weather {
        text-align: center;
        position: relative;
        max-width: 150px;
        padding: 1em 3em;
        left: 25%;
        
    }

    .icon::after {
        content: url(images/1530389_weather_clouds_storm_sunny_icon.svg);
        width: 2em;
        height: 2em;
    }
}